/*Formularios*/
form {
    background-color: #fff;
    max-width: 900px;
    margin: auto;
    padding: 0 55px;
    border-radius: 25px;
    border: 1px solid #034125;
    box-shadow: -3px 3px 20px #585858;
    position: absolute;
    top: 120px;
    left: 320px;
}

.titulo,
.titulo-notas {
    text-align: center;
    padding: 15px;
}

.inputs-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 0 25px 0;
}

.cajas-texto {
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 5px;
}

.cajas-texto input,
.cajas-texto select,
.cajas-texto textarea {
    width: 15.625em;
    padding: 0.625em 0.625em 0.625em 3.125em;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #f3efef;
    outline: none;
}

.cajas-texto input:focus,
.cajas-texto select:focus,
.cajas-texto textarea:focus {
    box-shadow: -3px 5px 10px #241e9e62;
    background-color: #5858583a;
}

option {
    background: #c8c8c938;
}

option:hover {
    background-color: #387a3b;
}

.icon {
    color: #9c9494;
    font-size: 20px;
    position: absolute;
    left: 20px;
}

.icon-container {
    position: absolute;
    top: -5px;
    right: -5px;
}
.icon-container-i {
    position: absolute;
    top: -5px;
    left: -5px;
}



/*Datos de la matricualas------------*/
.tabla {
    border-collapse: collapse;
    
    
}

.encabezado-tabla th {
    text-align: center;
    font-size: 1.25em;
    background-color: #212529;
    border-radius: 15px;
    color: #fff;
    padding: 5px;
}

.calificaciones td {
    padding: 10px 0;
    font-size: 1em;
}

.input-tabla {
    text-align: center;
}


tbody .calificaciones input {
    width: 30%;
    font-size: 1.125em;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid #70a870;
}


.notas input {

    width: 40px;
    padding: 5px 5px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

th {
    background-color: #f1f1f1;
    text-align: justify;
    padding: 10px;
}

td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #dbd2d2;
}

tr:hover {
    background-color: #f1f1f1;
}

.i {
    color: #9c9494;
    padding: 10px;
}