.header {
    background-color: #212529;
    margin: 35px 3%;
    height: 50px;
    color: white;
    box-shadow: -5px 5px 5px rgba(73, 80, 104, 0.4);
    border-radius: 0.4em;
    display: flex;
    align-items: center;
}

.info-title .title {
    margin-left: 10%;
    font-size: 1.25em;
    font-weight: 500;
}