caption {
    color: #0D6EFD !important;
    font-weight: bold;
}
.color-thead {
    background-color: #215a94 !important;
}

.Contenedor-List {
    box-shadow: -5px 5px 5px rgba(73, 80, 104, 0.4) !important;
    width: 73vw !important;
    margin: 0 3% 0 0;
    position: absolute;
    top: 120px;
    left: 320px;
    padding: 2rem 1rem;
    border-radius: 25px;
}

hr {
    color: white;
    width: 100%;
}

.nav-pills .nav-link:hover {
    color: #215a94 !important;
}

.Contenedor-Saludo {
    width: 73vw !important;
    margin: 0 3% 0 0;
    position: absolute;
    top: 120px;
    left: 320px;
    padding: 2rem 1rem;
}
.fondo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    background-color: #212529;
    margin: 35px 3%;
    height: 50px;
    color: white;
    box-shadow: -5px 5px 5px rgba(73, 80, 104, 0.4);
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {            
    font-size: 1.25em;
    font-weight: 500;
}

.dataTables_info, .dataTables_length, .dataTables_filter {
    color: white !important;
}