.Contenedor-List {
    width: auto !important;
    margin: 0 3% 0 0 !important;
    position: absolute !important;
    top: 120px !important;
    left: 320px !important;
    padding: 2rem 1rem !important;
}
