.custom-alerta {
    color: white !important;
    background: #212529 !important;
    border-radius: 15px !important;
}

.custom-confirmar-button, .custom-cancelar-button {
    border-radius: 15px !important;
}
.custom-success-alerta {
    color: white !important;
    background: #212529 !important;
    border-radius: 15px !important;
}