<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos de la matricula</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/formularios.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</head>

<body>
  <div id="preloader">
    <div id="loader"></div>
  </div>
  <nav>
    <!--Contenedor del logo-->
    <div class="logo">
      <a href="../index.html"><img src="../src/imagenes/imagen1.webp" alt=""></a>
    </div>
    <i class="bi bi-list abrir" id="abrir"></i><!--Icono menu-->
    <div class="nav" id="nav">
      <i class="bi bi-x cerrar" id="cerrar"></i><!--Icono cerrar-->
      <ul class="menu"><!--Contenedor menu-->
        <li class="nav-item"><a href="formulario_1.html">Matricula</a></li>
        <li class="nav-item"><a href="listado.html">Estudiantes</a></li>
        <!--Boton cerrar-->
        <button class="matricula" id="ocultar" onclick="window.location.href='login.html';">Cerrar</button>
      </ul>
    </div>
    <!--Boton cerrar-->
    <button class="matricula" id="mostrar" onclick="window.location.href='login.html';">Cerrar</button>
  </nav>

  <main>
    <section class="seccion-1">
      <h2>Centro Escolar Publico José de la Cruz Mena</h2>
    </section>

    <section class="seccion-2">
      <ul class="nav-links">
        <li><a href="formulario_1.html">Datos personales del estudiante</a></li>
        <li><a href="formulario_2.html">Datos personales del tutor</a></li>
        <li><a class="selected" href="formulario_3.html">Datos de las matricula</a></li>
      </ul>
    </section>

    <section>
      <form action="" class="formulario-2">
        <div>
          <h2 class="titulo">III. Datos de la matricula</h2>
          <hr />
        </div>

        <div class="inputs-group">

          <div class="cajas-texto">
            <select>
              <option value="" disabled selected>Turno</option>
              <option value="opcion1">Matutino</option>
              <option value="opcion2">Vespertino</option>
              <option value="opcion2">Nocturno</option>
            </select>
            <i class="bi bi-circle-half icon"></i>
          </div>

          <div class="cajas-texto">
            <select>
              <option value="" disabled selected>Grado</option>
              <option value="opcion2">7mo</option>
              <option value="opcion1">8vo</option>
              <option value="opcion2">9no</option>
              <option value="opcion2">10mo</option>
              <option value="opcion2">11vo</option>
            </select>
            <i class="bi bi-tag-fill icon"></i>
          </div>

          <div class="cajas-texto">
            <select>
              <option value="" disabled selected>Modalidad</option>
              <option value="opcion2">Regular</option>
              <option value="opcion1">Sabatino</option>
              <option value="opcion2">Dominical</option>
            </select>
            <i class="bi bi-tag-fill icon"></i>
          </div>

          <div class="cajas-texto">
            <input type="number" pattern="[0-9]{4}" placeholder="Año" />
            <i class="bi bi-person-fill icon"></i>
          </div>

        </div>

        <div class="inputs-group-2">

          <table class="tabla">
            <thead>
              <tr class="encabezado-tabla">
                <th colspan="6">Calificaciones del Estudiaste</th>
              </tr>
            </thead>
            <tbody>
              <tr class="calificaciones">
                <td class="materia" colspan="2">Matemáticas</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
                <td class="materia" colspan="2">Lengua Extranjera</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
              </tr>
              <tr class="calificaciones">
                <td class="materia" colspan="2">Lengua Y Literatura</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
                <td class="materia" colspan="2">Ciencias Naturales</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
              </tr>
              <tr class="calificaciones">
                <td class="materia" colspan="2">Educación Física</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
                <td class="materia" colspan="2">Química</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
              </tr>
              <tr class="calificaciones">
                <td class="materia" colspan="2">Orientacion Tecnica y Vocacional</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
                <td class="materia" colspan="2">Física</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
              </tr>
              <tr class="calificaciones">
                <td class="materia" colspan="2">Biología</td>
                <td class="input-tabla"><input type="number" max="100" pattern="[0-9]{2}" placeholder="100.00"></td>
                <td class="mater" colspan="2">Historia</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
              </tr>
              <tr class="calificaciones">
                <td class="materia" colspan="2">Geografía</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
                <td class="materia" colspan="2">Economía</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
              </tr>
              <tr class="calificaciones">
                <td class="materia" colspan="2">Sociología</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
                <td class="materia" colspan="2">Expresión Cultural y Artistica</td>
                <td class="input-tabla"><input type="number" placeholder="100.00"></td>
              </tr>



              <!-- Agrega más filas según sea necesario -->
            </tbody>
          </table>
        </div>
      </form>

      <div class="btn-formulario">
        <button onclick="window.location.href='formulario_1.html';" class="btn-estilo">Cancelar</button>
        <button onclick="window.location.href='formulario_2.html';" class="btn-estilo2">Atras</button>
        <button class="btn-estilo2" onclick="alertSave()">Guardar</button>
      </div>
    </section>

  </main>

  <footer class="foot">
    <div class="pie">
      <p><a href="https://isseisenpai.github.io/JDLCM/">Innovación educativa José de la Cruz Mena</a> tiene licencia <a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1">CC BY-NC-SA 4.0.</a> © 2023 por <a
          href="https://github.com/IsseiSenpai">TeChettos</a></p>
    </div>
  </footer>
  <script src="../js/menu.js"></script>
  <script src="../js/alert.js"></script>
</body>

</html>